In [1]:
import findspark

In [2]:

findspark.init("/opt/manual/spark")

In [3]:

from pyspark.sql import SparkSession, functions as F
import pandas as pd

In [6]:
spark = SparkSession.builder \
.appName("arabam_com") \
.master("yarn") \
.getOrCreate()

In [51]:
! hdfs dfs -put ~/Desktop/arabam/arabam.csv /user/train/datasets/

In [52]:
df1 = spark.read.format("csv") \
.option("header",True) \
.option("inferShema",True) \
.option("sep",",")  \
.load("hdfs://localhost:9000/user/train/datasets/arabam.csv")

In [53]:
df1.limit(10).toPandas()

,_c0,İlan No:,İlan Tarihi:,Marka:,Seri:,Model:,Yıl:,Yakıt Tipi:,Vites Tipi:,Motor Hacmi:,Motor Gücü:,Kilometre:,car_link:
0,0,16224840,20 Aralık 2020,Volkswagen,Passat,1.6 TDi BlueMotion Highline,2017,Dizel,Yarı Otomatik,1598 cc,120 hp,63.000 km,https://www.arabam.com//ilan/galeriden-satilik...
1,1,16224785,20 Aralık 2020,BMW,5 Serisi,530xd Gran Turismo Premium,2011,Dizel,Yarı Otomatik,2501 - 3000 cm3,226 - 250 HP,350.000 km,https://www.arabam.com//ilan/galeriden-satilik...
2,2,15727565,19 Aralık 2020,Renault,Megane,2.0 RXE,1999,LPG & Benzin,Otomatik,1598 cc,107 hp,163.000 km,https://www.arabam.com//ilan/galeriden-satilik...
3,3,16064703,19 Aralık 2020,Fiat,Egea,1.3 Multijet Urban,2017,Dizel,Düz,1248 cc,95 hp,105.000 km,https://www.arabam.com//ilan/galeriden-satilik...
4,4,16218391,19 Aralık 2020,Volkswagen,Polo,1.6 TDi Comfortline,2013,Dizel,Yarı Otomatik,1598 cc,90 hp,82.000 km,https://www.arabam.com//ilan/galeriden-satilik...
5,5,16229694,19 Aralık 2020,Dacia,Sandero,1.5 dCi Stepway,2014,Dizel,Düz,1461 cc,90 hp,54.000 km,https://www.arabam.com//ilan/galeriden-satilik...
6,6,16229258,19 Aralık 2020,Volkswagen,Passat Variant,1.6 TDi BlueMotion Comfortline,2017,Dizel,Yarı Otomatik,1598 cc,120 hp,105.000 km,https://www.arabam.com//ilan/sahibinden-satili...
7,7,16228952,19 Aralık 2020,Peugeot,301,1.6 HDi Active,2017,Dizel,Düz,1560 cc,93 hp,93.113 km,https://www.arabam.com//ilan/galeriden-satilik...
8,8,16227794,19 Aralık 2020,Volkswagen,Passat,1.6 FSi Comfortline,2006,Benzin,Otomatik,1598 cc,115 hp,310 km,https://www.arabam.com//ilan/galeriden-satilik...
9,9,16227403,19 Aralık 2020,Renault,Megane,1.6 Dynamique,2004,LPG & Benzin,Düz,1598 cc,115 hp,235.000 km,https://www.arabam.com//ilan/galeriden-satilik...

In [54]:
df1.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- İlan No:: string (nullable = true)
 |-- İlan Tarihi:: string (nullable = true)
 |-- Marka:: string (nullable = true)
 |-- Seri:: string (nullable = true)
 |-- Model:: string (nullable = true)
 |-- Yıl:: string (nullable = true)
 |-- Yakıt Tipi:: string (nullable = true)
 |-- Vites Tipi:: string (nullable = true)
 |-- Motor Hacmi:: string (nullable = true)
 |-- Motor Gücü:: string (nullable = true)
 |-- Kilometre:: string (nullable = true)
 |-- car_link:: string (nullable = true)

In [55]:
df1.columns

['_c0',
 'İlan No:',
 'İlan Tarihi:',
 'Marka:',
 'Seri:',
 'Model:',
 'Yıl:',
 'Yakıt Tipi:',
 'Vites Tipi:',
 'Motor Hacmi:',
 'Motor Gücü:',
 'Kilometre:',
 'car_link:']

In [56]:
for col in df1.columns:
    df1 = df1.withColumn(col, F.ltrim(F.rtrim(df1[col])))

In [112]:
df2 =df1.withColumn("motor_hacmi",F.split('Motor Hacmi:',"-")[0]) \
.drop(F.col('Motor Hacmi:'))

In [124]:
df3 =df2.withColumn("motor_hacmi",F.split("motor_hacmi"," ")[0]) \
.withColumn("motor_gucu",F.split("Motor Gücü:"," ")[0]) \
.withColumn("kilometre",F.split("Kilometre:"," ")[0]) \
.withColumn("marka",F.concat(F.col("Marka:"),F.lit('_'),F.col("Seri:"),F.lit('_'),F.col("Model:"))) \
.drop(F.col("Kilometre:")) \
.drop(F.col("Motor Gücü:")) \
.drop(F.col("Marka:")) \
.drop(F.col("Seri:")) \
.drop(F.col("Model:")) \
.drop(F.col("_c0")) \
.drop(F.col("İlan Tarihi:"))

In [125]:
df3.limit(2).toPandas()

,İlan No:,Yıl:,Yakıt Tipi:,Vites Tipi:,car_link:,motor_hacmi,motor_gucu,kilometre,marka
0,16224840,2017,Dizel,Yarı Otomatik,https://www.arabam.com//ilan/galeriden-satilik...,1598,120,63.000,Volkswagen_Passat_1.6 TDi BlueMotion Highline
1,16224785,2011,Dizel,Yarı Otomatik,https://www.arabam.com//ilan/galeriden-satilik...,2501,226,350.000,BMW_5 Serisi_530xd Gran Turismo Premium

In [126]:
df3.printSchema()

root
 |-- İlan No:: string (nullable = true)
 |-- Yıl:: string (nullable = true)
 |-- Yakıt Tipi:: string (nullable = true)
 |-- Vites Tipi:: string (nullable = true)
 |-- car_link:: string (nullable = true)
 |-- motor_hacmi: string (nullable = true)
 |-- motor_gucu: string (nullable = true)
 |-- kilometre: string (nullable = true)
 |-- marka: string (nullable = true)

In [127]:
df3.columns

['İlan No:',
 'Yıl:',
 'Yakıt Tipi:',
 'Vites Tipi:',
 'car_link:',
 'motor_hacmi',
 'motor_gucu',
 'kilometre',
 'marka']

In [224]:
df4=df3.select(
F.col('Yıl:').cast("int"),
F.col('Yakıt Tipi:'),
F.col('Vites Tipi:'),
F.col('motor_hacmi').cast("int"),
F.col('motor_gucu').cast("int"),
F.col('kilometre').cast("int"),
F.col('marka'))

In [225]:
df4.printSchema()

root
 |-- Yıl:: integer (nullable = true)
 |-- Yakıt Tipi:: string (nullable = true)
 |-- Vites Tipi:: string (nullable = true)
 |-- motor_hacmi: integer (nullable = true)
 |-- motor_gucu: integer (nullable = true)
 |-- kilometre: integer (nullable = true)
 |-- marka: string (nullable = true)

In [226]:
df4.limit(3).toPandas()

,Yıl:,Yakıt Tipi:,Vites Tipi:,motor_hacmi,motor_gucu,kilometre,marka
0,2017,Dizel,Yarı Otomatik,1598,120,63,Volkswagen_Passat_1.6 TDi BlueMotion Highline
1,2011,Dizel,Yarı Otomatik,2501,226,350,BMW_5 Serisi_530xd Gran Turismo Premium
2,1999,LPG & Benzin,Otomatik,1598,107,163,Renault_Megane_2.0 RXE

In [227]:
# Null check
for(col_name, col_type) in zip(df4.columns, df4.dtypes):
    null_count = df4.filter( (F.col(col_name).isNull()) | (F.col(col_name) == "")).count()
    if(  null_count > 0 ):
        print("{} {} type has {} null values".format(col_name, col_type[1], null_count))

Yıl: int type has 1 null values
Yakıt Tipi: string type has 1 null values
motor_hacmi int type has 13 null values
motor_gucu int type has 20 null values

In [242]:
yil_na=df4.filter(F.col("Yıl:").isNull()).select("marka").collect()[0][0]

In [257]:
yil_na1=df4.filter(F.col("marka")==yil_na).select("Yıl:","marka").groupBy("marka").avg("Yıl:").collect()[0][1]
yil_na1=int(yil_na1)
yil_na1

2015

In [262]:
df5=df4.na.fill(value=yil_na1,subset=["Yıl:"])

In [349]:
for(col_name, col_type) in zip(df6.columns, df6.dtypes):
    null_count = df6.filter( (F.col(col_name).isNull()) | (F.col(col_name) == "")).count()
    if(  null_count > 0 ):
        print("{} {} type has {} null values".format(col_name, col_type[1], null_count))

Yakıt Tipi: string type has 1 null values
motor_gucu int type has 7 null values

In [367]:
df_na=df5.select("motor_hacmi","marka").groupBy("marka").avg("motor_hacmi").toPandas()

df_na

                                         marka  avg(motor_hacmi)
0               Renault_Megane_1.5 dCi GT-Line            1461.0
1                  Hyundai_i20_1.2 D-CVVT Jump            1248.0
2             Mercedes - Benz_B_B 150 Prestige            1498.0
3               Renault_Symbol_1.5 dCi Extreme            1461.0
4                   Mercedes - Benz_E_250 Elit            1991.0
..                                         ...               ...
563  Mercedes - Benz_C_C 200 BlueTEC Exclusive            1598.0
564               Volkswagen_Jetta_1.6 Midline            1595.0
565                   Kia_Ceed_1.6 CRDi Motion            1582.0
566                       Seat_Ibiza_1.0 Style             999.0
567     Hyundai_Accent Blue_1.6 CRDI Mode Plus            1582.0

[568 rows x 2 columns]

In [369]:
na_list=df5.filter(F.col("motor_hacmi").isNull()).select("marka").toPandas().loc[:,"marka"].to_list()
na_list

['Renault_R 19_1.6 Europa RTE',
 'Opel_Vectra_2.5 CDX',
 'Audi_A3_A3 Sportback 1.6 Ambition',
 'Renault_Clio_2.0 Williams',
 'Mercedes - Benz_200_D',
 'Fiat_Linea_1.3 Multijet Pop',
 'Seat_Leon_1.4 TSI Stylance',
 'Fiat_Uno_1.4 ie SX',
 'Renault_R 12_GTS',
 'Hyundai_Accent_1.3 LS',
 'Tofaş_Doğan_SLX ie',
 'Honda_Civic_1.6 i-VTEC ES',
 'Hyundai_i30_1.4 CVVT Team']

In [375]:
na_dict=df_na[df_na["marka"].isin(na_list)]["avg(motor_hacmi)"].to_dict()
na_dict

{47: 1248.0,
 248: nan,
 283: 1590.0,
 322: 1396.0,
 343: 1341.0,
 388: nan,
 429: nan,
 444: nan,
 448: 1581.0,
 452: nan,
 461: nan,
 462: nan,
 546: nan}

In [378]:
def nan_value(df5,motor_hacmi):
    df_na=df5.select(motor_hacmi,"marka").groupBy("marka").avg(motor_hacmi).toPandas()
    df_na.columns=["marka",motor_hacmi]
    na_list=df5.filter(F.col(motor_hacmi).isNull()).select("marka").toPandas().loc[:,"marka",motor_hacmi].to_list()
    na_dict=df_na[df_na["marka"].isin(na_list)][motor_hacmi].to_dict()
    return na_dict

In [379]:
nan_value(df6,"motor_hacmi")

{47: 1248.0,
 248: nan,
 283: 1590.0,
 322: 1396.0,
 343: 1341.0,
 388: nan,
 429: nan,
 444: nan,
 448: 1581.0,
 452: nan,
 461: nan,
 462: nan,
 546: nan}

In [350]:
df6.dropna(how="any")

In [363]:

categoric_cols = []
numeric_cols = []
discarted_cols = []
label_col = []

In [364]:
# column seperation
for col_name in df1.dtypes:
    if (col_name[0] not in []):
        if (col_name[1] == 'string'):
            categoric_cols.append(col_name[0])
        else: numeric_cols.append(col_name[0])